In [278]:
#import neccessary libraries

import pandas as pd
import requests
from bs4 import BeautifulSoup

In [279]:
WEBSITE = 'https://books.toscrape.com/catalogue/page-{}.html'
IMAGE_URLS = 'http://books.toscrape.com/{}'

In [315]:
valid_pages = True
pages = 1
name,image,price,rating = [],[],[],[]
while pages<=50:
    
    res = requests.get(WEBSITE.format(pages))
    
    if res.status_code != 200:
        valid_pages = False 
    soup = BeautifulSoup(res.text,'lxml')
    books = soup.select('.product_pod')
    
    for i in books:
        name.append(i.select('a')[1]['title'])
        image.append(IMAGE_URLS.format(i.select('img')[0]['src']))
        price.append(i.select('.price_color')[0].text.encode('ascii','ignore').decode())
        rating.append(' '.join(i.select('p')[0]['class']))
    
    pages += 1

In [321]:
df = pd.DataFrame(list(zip(name,image,price,rating)),columns = ['Name','Image_Url','Price(pounds)','Rating'])

In [322]:
df.head()

,Name,Image_Url,Price(pounds),Rating
0,A Light in the Attic,http://books.toscrape.com/../media/cache/2c/da...,51.77,star-rating Three
1,Tipping the Velvet,http://books.toscrape.com/../media/cache/26/0c...,53.74,star-rating One
2,Soumission,http://books.toscrape.com/../media/cache/3e/ef...,50.10,star-rating One
3,Sharp Objects,http://books.toscrape.com/../media/cache/32/51...,47.82,star-rating Four
4,Sapiens: A Brief History of Humankind,http://books.toscrape.com/../media/cache/be/a5...,54.23,star-rating Five